<div class="container-fluid">
  <h2>Your Clubs</h2>
  <br>
  <% current_user.clubs.each do |c| %>
    <%= link_to c do %>
    <p><%= c.name %></p>
    <% end %>
    <p>Brand: <%= c.brand %></p>
  <% end %>
  <br>
  <a href="/clubs/new"><button class="btn btn-primary btn-sm">Create A New Club</button></a>
</div>