<div class="container-fluid">
  <h2>Your Clubs</h2>
  <br>
  <% current_user.clubs.each do |c| %>
    <p><%= c.name %></p>
    <p><%= c.brand %></p>
  <% end %>
  <br>
    <%= link_to "Create a new club", new_club_path %>
</div>