<div class="container-fluid">
   <%= simple_form_for ([:course, @round]) do |f| %>
    <%= f.input :score %>
    <%= f.input :date %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %> Post Your Round <% end %>
  <% end %>
</div>