<div class="container-fluid">
  <h2>Your Most Recent Scores</h2>
    <% @recent_rounds.each do |round| %>
      <ul>
        <li><%= round.score %></li>
        <li><%= round.date %></li>
      </ul>
    <% end %>
</div>