<div class="container-fluid">
  <h2>Your Bags</h2>
  <br>
  <br>

  <div id="bags-data">
    <a href="/bags/<%= @bag.id %>"><p><%= @bag.title %></p></a>
    <p><%= @bag.brand %></p>
  </div>

  <button id="all_bags">See All Bags</button>
  <br>
  <%= link_to "Create another bag", new_bag_path %>
  <br>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#all_bags").click(function() {
      $('#bags-data').html('')
        iterateOverBags();
    })
  });
</script>