<div class="container-fluid">
  <h2>Your Bags</h2>
  <br>
  <br>

  <div id="bags-data">
    <a href="/bags/<%= @bag.id %>"><p><%= @bag.title %></p></a>
    <p><%= @bag.brand %></p>
  </div>

  <div class="btn-toolbar">
    <button class="btn btn-primary btn-sm btn-space" id="all_bags">See All Bags</button>
    <%= link_to "Create Another Bag", new_bag_path, class: "btn btn-primary btn-sm btn-space" %>
    <button class="btn btn-primary btn-sm btn-space" id="sort_bags">Sort Bags</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#all_bags").click(function() {
      $('#bags-data').html('')
        iterateOverBags();
    })
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#sort_bags").click(function() {
      $('#bags-data').html('')
        sortBags();
    })
  })
</script>