<div class="container-fluid">
  <h2>Your Bags</h2>
  <br>
  <br>

  <div id="bags-data">
    <a href="/bags/<%= @bag.id %>"><p><%= @bag.title %></p></a>
    <p><%= @bag.brand %></p>
  </div>

  <div id="btn-toolbar">
  <button class="btn btn-primary btn-sm" id="all_bags">See All Bags</button>
  <a href="/bags/new"><button class="btn btn-primary btn-sm">Create Another Bag</button></a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#all_bags").click(function() {
      $('#bags-data').html('')
        iterateOverBags();
    })
  });
</script>