<div class="container-fluid">
  <h2>Your Bags</h2>
  <br>
  <br>

  <div id="bags-data">
    <p><%= @bag.title %></p>
    <p><%= @bag.brand %></p>
  </div>

  <button id="all_bags">See All Bags</button>
  <br>
  <%= link_to "Create another bag", new_bag_path %>
  <br>
</div>

<script type="text/javascript" charset="utf-8">
  // create js prototype here
  function Bag (brand, title) {
    this.brand = brand
    this.title = title
  };

  Bag.prototype.formatIndex = function() {
    let postHtml = `
      <p>${this.brand["title"]}</p>
      <p>${this.brand["brand"]}</p>
      <br>
    `
    return postHtml;
  };

  $(function() {
    $("#all_bags").click(function() {
      $('#bags-data').html('')
      $.get("/bags/bag_data", function(data, status) {
        data.forEach(bag => {
          let newBag = new Bag(bag)
          console.log(newBag);
          let postHtml = newBag.formatIndex()
          $('#bags-data').append(postHtml)
          console.log(newBag)
        })
    });
  });

</script>