<div class="container-fluid">
  <h2>Your Bags</h2>
  <br>
  <% current_user.bags.each do |b| %>
    <p><%= b.title %></p>
    <p><%= b.brand %></p>
  <% end %>
  <br>
  <%= link_to "Create another bag", new_bag_path %>
  <br>
</div>