<div class="container-fluid">
  <h1>Your Bag</h1>
  <br>
  <div id="bag-info">
    <h2><%= @bag.title %></h2>
    <h2><%= @bag.brand %></h2>
  </div>
    <div id="clubs-in-bag">
    </div>

  <div class="btn-toolbar">
    <button class="btn btn-primary btn-sm btn-space" id="get-clubs" data-id="<%= @bag.id %>">See Clubs In This Bag</button>
    <%= link_to "See Your Bags", bags_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>

<script type=text/javascript charset="utf-8">
  $(function() {
    $("#get-clubs").click(function() {
      $('#get-clubs').html('')
      var id = $(this).data("id")
      $.get('/bags/' + id + '.json', function(data, status) {
        data.clubs.forEach(club => {
          let clubs = `<br>` +
          `
          <h5>${club.brand}</h5>
          ` +
          `
          <h5>${club.name}</h5>
          <br>
          `
          $('#clubs-in-bag').append(clubs)
        })
      })
    })
  });
</script>