<div class="container-fluid">
  <h1>Your Bag</h1>
  <br>
  <div id="bag-info">
    <h2><%= @bag.title %></h2>
    <h2><%= @bag.brand %></h2>
  </div>
    <div id="clubs-in-bag">
    </div>

  <div id="btn-toolbar">
    <button class="btn btn-primary" id="get-clubs" data-id="<%= @bag.id %>">See Clubs In This Bag</button>
    <a href="/bags"><button class="btn btn-primary">See Your Bags</button></a>
  </div>
</div>

<script type=text/javascript charset="utf-8">
  $("#get-clubs").click(function() {
    var id = $(this).data("id")
    $.get('/bags/' + id + '.json', function(data, status) {
      data.clubs.forEach(club => {
        let clubs = `<br>` +
        `
        <h5>${club.brand}</h5>
        ` +
        `
        <h5>${club.name}</h5>
        `
        $('#clubs-in-bag').append(clubs)
      })
    })
  });
</script>