<div class="container-fluid">
  <h1>Your Bag</h1>
  <br>
  <h2><%= @bag.title %></h2>
  <h2><%= @bag.brand %></h2>
  <br>
  <button class="get-clubs btn btn-primary">See Clubs In This Bag</button>
  <br>
  <br>
  <a href="/bags"><button class="btn btn-primary">See Your Bags</button></a>
</div>