<div class="container-fluid">
  <h1>My Courses</h1>
    <% current_user.courses.each do |c| %>
      <p><%= c.name %></p>
      <p><%= c.location %></p>
      <p><%= c.par %></p>
    <% end %>
  <br>
  <%= link_to "Create a new course", new_course_path %>
</div>